.header {
  height: 70px;
  background: pink;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
}

.header nav {
  display: flex;
  gap: 30px;
}

.header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header a:hover {
  color: gold;
}